################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EffictiveCppLearn/.vs/EffictiveCppLearn/v16
/EffictiveCppLearn/Debug
/EffictiveCppLearn/Techniques/Debug/Techniques.tlog
/EffictiveCppLearn/Techniques/Debug
